.coverage
subunit.log
.venv
*,cover
cover
*.pyc
.idea
*.swp
*~
AUTHORS
build
dist
python_glanceclient.egg-info
ChangeLog
run_tests.err.log
.testrepository
.tox
doc/source/api
*.egg
glanceclient/versioninfo
