.coverage
subunit.log
.venv
*,cover
cover
*.pyc
.idea
*.sw?
*~
AUTHORS
build
dist
python_glanceclient.egg-info
ChangeLog
run_tests.err.log
.testrepository
.tox
doc/source/api
doc/build
*.egg
.eggs/*
glanceclient/versioninfo
# Files created by releasenotes build
releasenotes/build